{% load static %}
<link href="{% static 'css/categories_home.css' %}", rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <a href="/categories/for_all">
                <img src="{% static 'img/categories1.webp' %}", style="max-width: 100%">
                <h3>Для детей</h3>
            </a>
        </div>
        <div class="col">
            <a href="/categories/for_all">
                <img src="{% static 'img/categories2.webp' %}", style="max-width: 100%">
                <h3>Для него</h3>
            </a>
        </div>
        <div class="col">
            <a href="/categories/for_all">
                <img src="{% static 'img/categories3.webp' %}", style="max-width: 100%">
                <h3>Для неё</h3>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/categories/for_all">
                <img src="{% static 'img/categories4.webp' %}", style="max-width: 100%">
                <h3>Сладости</h3>
            </a>
        </div>
        <div class="col">
            <a href="/categories/for_all">
                <img src="{% static 'img/categories5.webp' %}", style="max-width: 100%">
                <h3>Подарочная упаковка</h3>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="/categories/for_all">
                <img src="{% static 'img/categories6.webp' %}", style="max-width: 100%">
                <h3>Детали интерьера</h3>
            </a>
        </div>
    </div>
</div>