{% load static %}
<link href="{% static 'css/center_page.css' %}" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-8">
            <img src="{% static 'img/center_image1.webp' %}" style="max-width: 100%">
        </div>
        <div class="col">
            <h3 class="fw-bold">
                Плюшевые игрушки Misha
            </h3>
            <br>
            <p>
                Есть игрушки, которые хочется всегда держать, чувствуя теплоту и нежность от них.
                Коллекция Misha именно такие. Стильные, красивые и милые мишки, с добрым характером.
                Misha идеально впишутся в интерьер, добавив нежности, уюта.
                Всегда актуальная классика в авторском исполнении, с безупречным качеством,
                делают эти игрушки прекрасным подарком.
            </p>
            <a class="btn btn-lg more" href="for_all/plush_bear" style="color:white">
                Подробнее
            </a>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col">
            <h3 class="fw-bold">
                Дарим бонусы на Новый год
            </h3>
            <br>
            <p>
                В честь новогодних праздников, дарим 500 бонусных рублей на вашу скидочную карту!
                Успей потратить до 14 января
            </p>
            <a class="btn btn-lg more" href="categories/for_all" style="color:white">
                Узнать подробнее
            </a>
        </div>
        <div class="col-8">
            <img src="{% static 'img/center_image2.webp' %}" style="max-width: 100%">
        </div>
    </div>
</div>
<br><br><br>