{% load static %}
<link href="{% static 'css/footer.css' %}" rel="stylesheet">
<footer>
    <div class="container-fluid me-auto border-bottom">
        <div class="me-auto logo_gift">
            <img src="{% static 'img/footer_logo.svg' %}" class="footer_logo">
        </div>
        <div class="row">
            <div class="col">
                <ul class="footer-list">
                    <li>
                        <h5 class="fw-bold">Меню 1</h5>
                    </li>
                    <br>
                    <li>
                        <a href="#" class="footer-list-link">Каталог</a>
                    </li>
                    <li>
                        <a href="#" class="footer-list-link">О компании</a>
                    </li>
                    <li>
                        <a href="#" class="footer-list-link">Контакты</a>
                    </li>
                    <li>
                        <a href="#" class="footer-list-link">Доставка</a>
                    </li>
                    <li>
                        <a href="#" class="footer-list-link">Оплата</a>
                    </li>
                    <li>
                        <a href="#" class="footer-list-link">Личный кабинет</a>
                    </li>
                    <li>
                        <a href="#" class="footer-list-link">Блог</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="footer-list">
                    <li>
                        <h5 class="fw-bold">Меню 2</h5>
                    </li>
                    <br>
                    <li>
                        <a href="#" class="footer-list-link">Каталог</a>
                    </li>
                    <li>
                        <a href="#" class="footer-list-link">О компании</a>
                    </li>
                    <li>
                        <a href="#" class="footer-list-link">Контакты</a>
                    </li>
                    <li>
                        <a href="#" class="footer-list-link">Доставка</a>
                    </li>
                    <li>
                        <a href="#" class="footer-list-link">Оплата</a>
                    </li>
                    <li>
                        <a href="#" class="footer-list-link">Личный кабинет</a>
                    </li>
                    <li>
                        <a href="#" class="footer-list-link">Блог</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="footer-list">
                    <li>
                        <h5 class="fw-bold">Меню 3</h5>
                    </li>
                    <br>
                    <li>
                        <a href="#" class="footer-list-link">Каталог</a>
                    </li>
                    <li>
                        <a href="#" class="footer-list-link">О компании</a>
                    </li>
                    <li>
                        <a href="#" class="footer-list-link">Контакты</a>
                    </li>
                    <li>
                        <a href="#" class="footer-list-link">Доставка</a>
                    </li>
                    <li>
                        <a href="#" class="footer-list-link">Оплата</a>
                    </li>
                    <li>
                        <a href="#" class="footer-list-link">Личный кабинет</a>
                    </li>
                    <li>
                        <a href="#" class="footer-list-link">Блог</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <div class="container">
                    <div class="row">
                        <h5>
                            Контакты
                        </h5>
                    </div>
                    <div class="row">
                        <p>
                            +7(800) 800-80-80 | +7(800) 800-80-80
                        </p>
                    </div>
                    <div class="row">
                        <p>
                            г. Москва, ул. Новорязанская, 18, стр. 11
                        </p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="#">
                                <img src="{% static 'img/sc1.svg' %}" class="img-responsive inline">
                            </a>
                        </div>
                        <div class="col">
                            <a href="#">
                                <img src="{% static 'img/sc2.svg' %}" class="img-responsive inline">
                            </a>
                        </div>
                        <div class="col">
                            <a href="#">
                                <img src="{% static 'img/sc3.svg' %}" class="img-responsive inline">
                            </a>
                        </div>
                        <div class="col">
                            <a href="#">
                                <img src="{% static 'img/sc4.svg' %}" class="img-responsive inline">
                            </a>
                        </div>
                        <div class="col">
                            <a href="#">
                                <img src="{% static 'img/sc5.svg' %}" class="img-responsive inline">
                            </a>
                        </div>
                        <div class="col">
                            <a href="#">
                                <img src="{% static 'img/sc6.svg' %}" class="img-responsive inline">
                            </a>
                        </div>
                        <div class="col">
                            <a href="#">
                                <img src="{% static 'img/sc7.svg' %}" class="img-responsive inline">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>