{% load static %}
<link href="{% static 'css/promotion_main.css' %}" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-3">
            <a href="/promotions/halloween">
                <img src="{% static 'img/promotion1.webp' %}" class="preview-promotion">
                <h5 class="heading-promotion fw-bold">
                    Распродажа костюмов на хэллоуин
                </h5>
                <p class="date">
                    23.12.2020
                </p>
            </a>
        </div>
        <div class="col-3">
            <a href="/promotions/ceramic">
                <img src="{% static 'img/promotion2.webp' %}" class="preview-promotion">
                <h5 class="heading-promotion fw-bold">
                    − 20% На все керамические изделия
                </h5>
                <p class="date">
                    23.12.2020
                </p>
            </a>
        </div>
        <div class="col-3">
            <a href="/promotions/sweets">
                <img src="{% static 'img/promotion3.webp' %}" class="preview-promotion">
                <h5 class="heading-promotion fw-bold">
                    Скидка на все сладости
                </h5>
                <p class="date">
                    20.07.2017
                </p>
            </a>
        </div>
        <div class="col-3">
            <a href="/promotions/free-present">
                <img src="{% static 'img/promotion4.webp' %}" class="preview-promotion" style="width: 100%">
                <h5 class="heading-promotion fw-bold">
                    Упакуем бесплатно ваш подарок, если нужно!
                </h5>
                <p class="date">
                    31.01.2016
                </p>
            </a>
        </div>
    </div>
</div>