{% load static %}
<link href="{% static 'css/recommendations.css' %}" rel="stylesheet">
<div class="container">
    <div class="row main-div">
        <div class="undermain-div">
            <h2 class="fw-bold">
                Как подобрать подарок?
            </h2>
            <p class="h4" style="margin-top: 2%">
                Мы сталкиваемся с этим вопросом каждый раз перед праздниками.
                Как часто нам дарили подарки, которые мы передаривали или которые
                просто пылились на полках, что бы никого не обидеть?
                Чтобы не подарить очередной ненужный подарок, мы подобрали для вас несколько советов.
            </p>
            <br>
            <br>

            <a class="btn btn-lg more" href="categories/for_all" style="color:white">
                Узнать подробнее
            </a>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <img src="{% static 'img/recommendations2.webp' %}" class="recommendation-preview">
        </div>
        <div class="col">
            <img src="{% static 'img/recommendations3.webp' %}" class="recommendation-preview">
        </div>
        <div class="col">
            <img src="{% static 'img/recommendations4.webp' %}" class="recommendation-preview">
        </div>
        <div class="col">
            <img src="{% static 'img/recommendations5.webp' %}" class="recommendation-preview">
        </div>
    </div>
</div>
<br><br>